<footer>
    <div class="container position-relative">
        <div class="footer-line1">
            <div class="row text-center p-5 position-relative">
                <img src="img/logo@2x.png" class="mx-auto" width="63" height="63" alt="">
                <a href="#top" class="top-button position-absolute">
                    <span class="icon-arrow-up2"></span>
                </a>
            </div>
            <div class="row pl-5 pr-5 pb-5 block-dropdown-menu">
                <div class="col-lg-6">
                    <div class="dropdown">
                        <div class="select">
                            <span>Select Country</span>
                            <i class="icon-arrow_drop_down"></i>
                        </div>
                        <input type="hidden" name="contry">
                        <ul class="dropdown-menu">
                            <li id="fr">France</li>
                            <li id="de">Germany</li>
                            <li id="sp">Spain</li>
                            <li id="it">Italy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-6 list-block">
                            <ul>
                                <li class="list-block-title">
                                    <a href="">À propos</a>
                                </li>
                                <li><a href="">Qui sommes nous</a></li>
                                <li><a href="">Press Kit</a></li>
                                <li><a href="">Offres d’emploi</a></li>
                            </ul>
                        </div>
                        <div class="col-6 list-block">
                            <ul>
                                <li class="list-block-title">
                                    <a href="">Nos partenaires</a>
                                </li>
                                <li><a href="">partenaire1</a></li>
                                <li><a href="">partenaire2</a></li>
                                <li><a href="">partenaire3</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <nav class="w-100 footer-menu">
                    <ul class="bottom-menu d-flex flex-row flex-fill w-100 justify-content-around pr-5 pl-5">
                        <li><a href="#">Informations légales</a></li>
                        <li><a href="#">Politique de protection des données</a></li>
                        <li><a href="#">Conditions générales de vente</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-facebook2"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-line2 pt-5 pb-5">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 col-10 offset-1">
                    <div class="bottoms-logo text-center">
                        Bienabandonné.com
                    </div>
                </div>
            </div>

            <div class="row social-mobile">
                <nav class="w-100">
                    <ul class="bottom-menu d-flex flex-row flex-fill w-100 justify-content-center pt-4 pb-4 pl-0">
                        <li class="mr-1"><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li class="ml-1"><a href="#"><span class="icon-facebook2"></span></a></li>
                    </ul>
                </nav>
            </div>

        </div>
        <img src="img/bottom-logo@2x.png" width="302" height="113" class="position-absolute bottom-addtion-logo" alt="">
    </div>
</footer>