<header id="header">
    <div class="container">
        <div class="row header-menu">

            <img class="desktop-logo" src="img/logo@2x.png" width="60" height="60" alt="">
            <div class="desktop-menu">
                <a href="/" class="site-name">
                    Bienabandonné.com
                </a>
                <ul>
                    <li>
                        <a href="separation.html">Se séparer d’un bien immobilier</a>
                    </li>
                    <li>
                        <a href="purchase.html">Acquérir un bien immobilier</a>
                    </li>
                    <li>
                        <a class="btn btn-blue" href="registration.html">INSCRIPTION</a>
                    </li>
                    <li>
                        <a class="btn btn-white" href="connection.html">CONNEXION</a>
                    </li>
                </ul>
            </div>
            <a href="/">
                <img class="header-logo mobile-logo" src="img/logo@2x.png" width="25" height="25" alt="">
            </a>
            <input id="burger" type="checkbox" />
            <label for="burger" class="mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <nav class="main-menu mobile-menu-list">
                <ul class="m-5">
                    <li>
                        <a href="separation.html">Se séparer d’un bien immobilier</a>
                    </li>
                    <li>
                        <a href="purchase.html">Acquérir un bien immobilier</a>
                    </li>
                    <li>
                        <a class="btn btn-blue" href="registration.html">INSCRIPTION</a>
                    </li>
                    <li>
                        <a class="btn btn-white" href="connection.html">CONNEXION</a>
                    </li>
                    <li>
                        <a class="txt-blue" href="#">À propos</a>
                    </li>
                    <li>
                        <a href="#">Qui sommes nous</a>
                    </li>
                    <li>
                        <a href="#">Press Kit</a>
                    </li>
                    <li>
                        <a href="">Offres d’emploi</a>
                    </li>

                    <li class="site-name">
                        Bienabandonné.com
                    </li>

                    <li class="socials">
                        <a class="mr-1" href="#"><span class="icon-linkedin"></span></a>
                        <a class="ml-1" href="#"><span class="icon-facebook2"></span></a>
                    </li>


                    <li>
                        <a class="txt-grey" href="#">Informations légales</a>
                    </li>
                    <li>
                        <a class="txt-grey" href="#">Politique de protection des données</a>
                    </li>
                    <li>
                        <a class="txt-grey" href="">Conditions générales de vente</a>
                    </li>
                    <li>
                        <a class="txt-grey" href="">Contact</a>
                    </li>





                </ul>
            </nav>
        </div>
    </div>
</header>