@charset "UTF-8";
//@import url(http://fonts.googleapis.com/css?family=Metropolis);

//@font-face {
//  font-family: 'Open Sans';
//  src: url('../fonts/Open Sans Light.eot');
//  src: url('../fonts/Open Sans Light.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/Open Sans Light.woff') format('woff'),
//        url('../fonts/Open Sans Light.ttf') format('truetype'),
//        url('../fonts/Open Sans Light.svg#Open Sans Light') format('svg');
//  font-weight: 300;
//  font-style: normal;
//  font-stretch: normal;
//  unicode-range: U+0020-FFFD;
//}


// @font-face {
// 	font-family: 'Font Awesome 5 Free';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('#{$fa-font-path}/fa-regular-400.eot');
// 	src: url('#{$fa-font-path}/fa-regular-400.eot?#iefix') format('embedded-opentype'),
// 	url('#{$fa-font-path}/fa-regular-400.woff2') format('woff2'),
// 	url('#{$fa-font-path}/fa-regular-400.woff') format('woff'),
// 	url('#{$fa-font-path}/fa-regular-400.ttf') format('truetype'),
// 	url('#{$fa-font-path}/fa-regular-400.svg#fontawesome') format('svg');
// }
// @font-face {
// 	font-family: 'Font Awesome 5 Free';
// 	font-style: normal;
// 	font-weight: 900;
// 	src: url('#{$fa-font-path}/fa-solid-900.eot');
// 	src: url('#{$fa-font-path}/fa-solid-900.eot?#iefix') format('embedded-opentype'),
// 	url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
// 	url('#{$fa-font-path}/fa-solid-900.woff') format('woff'),
// 	url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype'),
// 	url('#{$fa-font-path}/fa-solid-900.svg#fontawesome') format('svg');
// }
// .fa,
// .fas {
// 	font-family: 'Font Awesome 5 Free';
// 	font-weight: 900;
// }
// .far {
// 	font-family: 'Font Awesome 5 Free';
// 	font-weight: 400;
// }

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?npo2co');
  src: url('../fonts/icomoon/icomoon.eot?npo2co#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?npo2co') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?npo2co') format('woff'),
    url('../fonts/icomoon/icomoon.svg?npo2co#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_drop_down:before {
  content: "\e5c5";
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-linkedin:before {
  content: "\eac9";
}

