//sudo gem install sass
//sass --watch assets/css/style.scss:assets/css/style.css
//$fa-font-path: "../fonts/fontawesome" !default;
@import "fonts";
@import "mixins";
/*PLUGINS*/
/*bootstrap*/
@import "plugins/bootsrap/bootstrap-reboot";
@import "plugins/bootsrap/bootstrap-grid";
@import "plugins/bootsrap/carousel";
@import "plugins/bootsrap/images";
@import "plugins/bootsrap/forms";
@import "plugins/bootsrap/utilities";
/*Form Steps*/
@import "plugins/bs-stepper.min";

/*fontawesome*/
//@import "plugins/fontawesome/variables";
//@import "plugins/fontawesome/mixins";
//@import "plugins/fontawesome/core";
//@import "plugins/fontawesome/larger";
//@import "plugins/fontawesome/icons";
//@import "plugins/fontawesome/screen-reader";
/*Swiper*/
//@import "plugins/swiper.min.css";
/*CUSTOM VAR STYLES*/
@import "settings";
@import "my-default";


body {
  font-family: "Source Sans Pro";
  background: #F6F6F8;
}

::placeholder {
  color: #88BDF5!important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #88BDF5 !important;
}

::-ms-input-placeholder {
  color: #88BDF5 !important;
}
input::placeholder {
  color: #88BDF5 !important;
}

*:focus {
  outline: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  display: inline-block;
  padding: 7px 30px;
  border-radius: 30px;
  box-shadow: 0px 3px 20px rgba(110, 110, 110, 0.16);

  &.btn-blue {
    background: $blue;
    color: $white !important;
    @include anim('background');

    &:hover {
      background: #fff;
      color: $blue !important;
    }
  }

  &.btn-white {
    background: #fff;
    border: 1px solid $blue;
    color: $blue !important;
    @include anim('border');

    &:hover {
      color: $blue !important;
      border: 1pseparation-section1x solid $white;

    }
  }
}
.shadow-box{
  box-shadow: 0px 13px 16px rgba(0, 0, 0, .16);
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin-bottom: 0;
    display: block;
    width: 100%;
    text-align: right;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 35px;
    height: 35px;
    background: $blue;
    border: 2px solid $white;
    position: absolute;
    top: 8px;
    left: 0;
  }


  // Box hover
  //&:hover + label:before {
  //  background: $orange;
  //}

  // Box focus
  &:focus + label:before {
    //box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $white;
    border: 1px solid $white;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }


  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 35px;
    height: 35px;
    background: $white;
    border: 2px solid $white;
    position: absolute;
    top: 8px;
    left: 0;
    @include anim('all');
    // width: 4px;
    // height: 4px;
    // box-shadow: 2px 0 0 white,
    //   4px 0 0 white,
    //   4px -2px 0 white,
    //   4px -4px 0 white,
    //   4px -6px 0 white,
    //   4px -8px 0 white;
    // transform: rotate(45deg);
  }
}

.txt {
  &-blue {
    color: $blue !important;
  }

  &-grey {
    color: #8E8E8E !important;
  }
}

#header {
  background: $white;
  padding: 8px 0;
  box-shadow: 0px 10px 20px 0 rgba($color: #000000, $alpha: .10);
  width: 100%;
  position: fixed;
  z-index: 99;

  .header-logo {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    left: calc(50% - 14px);
    top: 10px;
    z-index: 20;
  }

  .header-menu {

    .mobile-menu,
    .mobile-menu-list,
    #burger,
    .mobile-logo {
      display: none;
    }
  }


  .desktop-logo {
    width: 100%;
    max-width: 60px;
    height: 60px;
  }

  .desktop-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 70px);

    .site-name {
      font-size: 20px;
      font-weight: 700;
      font-family: 'Montserrat';
      color: $black;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 0;
      padding-left: 0;

      li {
        list-style: none;
        margin: 0 10px;

        a {
          color: $black;
          font-size: 14px;
          @include anim('color');

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  .header-menu {
    #burger {
      opacity: 0;
    }

    input + label {
      position: fixed;
      top: 15px;
      right: 20px;
      height: 15px;
      width: 25px;
      z-index: 5;

      span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: calc(50% - 1px);
        margin-top: -1px;
        left: 0;
        display: block;
        background: #7F7F7F;
        transition: .5s;
      }

      span:first-child {
        top: 0px;
      }

      span:last-child {
        top: auto;
        bottom: 0;
      }
    }

    label:hover {
      cursor: pointer;
    }


    input:checked + label {
      span {
        opacity: 0;
        top: 50%;
      }

      span:first-child {
        opacity: 1;
        transform: rotate(405deg);
      }

      span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
      }
    }


    input ~ nav {
      background: rgba(255, 255, 255, .99);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      z-index: 3;
      transition: .5s;
      transition-delay: .5s;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;

      > ul {
        text-align: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin-bottom: 0;
        padding-left: 0;
        height: calc(100% - 100px);
        overflow: auto;

        > li {
          opacity: 0;
          transition: .5s;
          transition-delay: 0s;

          &.site-name {
            border-bottom: 4px solid $blue;
          }

          &.socials {
            text-align: center;

            a {
              display: inline-block
            }
          }

          > a {
            text-decoration: none;
            text-transform: uppercase;
            color: $black;
            font-weight: 700;
            display: block;
            padding: 10px;

            &.btn {
              display: inline-block;
              padding: 7px 30px;
              margin: 10px 0;

              &.btn-blue {
                background: $blue;
                box-shadow: 0px 4px 11px rgba(3, 115, 234, 0.67);
              }
            }


          }
        }

      }


    }


    input:checked ~ .header-txt {
      display: none;
      //@include animation;
    }

    input:checked ~ nav {
      height: 100%;
      transition-delay: 0s;

      > ul {
        > li {
          opacity: 1;
          transition-delay: .5s;
        }
      }

      > .sign-out {
        opacity: 1;
        transition-delay: .5s;
      }
    }
  }

  .main-menu ul {
    li {
      margin: 0;
      list-style: none;

    }
  }

}
.index-section1,
.purchase-section1,
.separation-section1,
.object-section1,
.registration-1{
  padding-top: 75px;
}


.index-section1 {

  .img-part {
    img {
      width: 100%
    }
  }

  &-bg{
    background: url("../img/index-section-new-1.jpg") center center no-repeat;
    background-size: cover;
  }

  .text-part {
    display: flex;
    align-items: center;

    .text-block {
      font-size: 39px;
      letter-spacing: 0.02em;
      line-height: 65px;
      text-align: left;
      color: $white;
      padding: 10%;

      .btn {
        line-height: 48px;
        font-size: 16px;
      }
    }
  }
}

.index-section2 {
  margin: 40px;

  .imgs-part {
    .col-6 {
      img {
        width: 100%;
        height: auto;
      }

      .text {
        display: block;
        color: #A5A5A6;
        text-align: center;
        font-size: 19px;
      }
    }
  }

  .text-block p {
    font-size: 28px;
    letter-spacing: 0.03em;
    line-height: 70px;
    opacity: 0.93;

    span {
      color: $blue;
    }
  }
}

.index-section3 {
  margin: 40px;

  .text-block-out {
    background: #fff;
    box-shadow: 10px 13px 16px rgba(0, 0, 0, 0.1);
  }

  .text-block-inner {
    font-size: 37px;
    letter-spacing: 0.03em;
    line-height: 120px;
    text-align: center;
    color: $black;
    border-bottom: 4px solid $blue;

  }
}

.index-section4 {

  .header-block,
  .sub-header-block,
  .text-block {
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0.03em;
    line-height: 70px;
    text-align: center;
    color: $black;
    opacity: 0.93;
  }

  .card-block {
    background: $white;
    padding: 10%;

  }

  .header-block {
    font-size: 50px;
  }

  .sub-header-block {
    font-size: 33px;
  }

  .text-block {
    font-size: 27px;
    line-height: 39px;
    min-height: 335px;
  }

  .button-block {
    a {
      padding: 15px 30px;
    }
  }

}

.index-section5 {
  margin: 40px 0;

  .red-block {
    font-size: 50px;
    letter-spacing: 0.03em;
    line-height: 70px;
    text-align: center;
    color: $red;
    opacity: 0.93;

  }

  .text-block p {
    font-size: 27.5px;
    letter-spacing: 0.03em;
    line-height: 89px;
    color: $black;

    span {
      color: $blue;
    }

  }
}

.registration-1{
  .header-block {
    font-size: 50px;
  }
  .subheader-block{
    font-size: 27.5px;
    letter-spacing: 0.03em;
    line-height: 89px;
    color: #707070;
  }
  .card-block{
    background: $white;
    padding-bottom: 3rem;
  }
  .next-button{
    bottom: 2.5rem;
    right: 4rem;
  }
  .prev-button{
    bottom: 2.5rem;
    left: 4rem;
  }
  #send-button-action,
  .last-step-invisible{
    display: none;
  }
  .last-step-invisible,
  .last-step-visible{
    width: 100%;
  }
  .last-step-invisible{
    img.w-100{
      opacity: 0;
      height: 20px;
    }
    svg{
      display: block;
      width: 185px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .reg-form{
    ::-webkit-input-placeholder {
      color: #8E8E8E !important;
    }
    ::-moz-placeholder {
      color: #8E8E8E !important;
    }
    :-ms-input-placeholder {
      color: #8E8E8E !important;
    }
    :-moz-placeholder {
      color: #8E8E8E !important;
    }
    ::placeholder{
      color: #8E8E8E !important;
    }
    input[type=text],
    input[type=date],
    input[type=email],
    input[type=tel]{
      background: #F2F2F2;
      border: none;
    }
    label{
      color: #4B4B4B;
    }
    select{
      -moz-appearance: none;
      -webkit-appearance: none;
      height: 48px;
      line-height: 48px;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      padding-bottom: 0;
      padding-top: 0;
      background: #F2F2F2;
      border: none;
    }
    textarea{
      background: #F2F2F2;
      border: none;
      resize: none;
    }
    .icon-arrow-left2,
    .icon-arrow-right2{
      position: relative;
      top:2px;
    }
    .active-custom .bs-stepper-circle{
      background-color:#007bff
    }
    .bs-stepper .line.active-custom{
      background-color:#007bff
    }
    .bs-stepper .step-trigger{
      padding: 0;
    }
    .bs-stepper .step-trigger{
      display: flex;
      flex-wrap: wrap;
    }
    .step-trigger span{
      display: block;
    }
    .step-trigger .bs-stepper-label{
      width: 100%;
    }
  }
}

footer {
  .footer-line1 {
    background: $white;
    border: 3px solid #e7e7ef;
  }


  .dropdown {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    transition: all .5s ease;
    position: relative;
    color: $blue;
    height: 100%;
    text-align: center;


    .select {
      cursor: pointer;
      display: block;
      padding: 10px;
      border: 1px solid $blue;
      border-radius: 30px;
      box-shadow: 0px 3px 20px rgba(110, 110, 110, 0.16);

      & > i {
        font-size: 13px;
        color: #888;
        cursor: pointer;
        transition: all .3s ease-in-out;
        float: right;
        line-height: 20px;
      }
    }


    &.active {
      .select {
        border-right: 1px solid $blue;
        border-left: 1px solid $blue;
        border-top: 1px solid $blue;
        border-bottom: none;
        border-radius: 5px 5px 0 0;

        & > i {
          transform: rotate(-180deg);
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px rgb(204, 204, 204);
      border-radius: 0 1px 5px 5px;
      border-right: 1px solid $blue;
      border-bottom: 1px solid $blue;
      border-left: 1px solid $blue;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9;
      padding: 0;
      list-style: none;

      li {
        padding: 10px;
        transition: all .2s ease-in-out;
        cursor: pointer;
        @include anim('all');

        &:hover {
          background-color: $blue;
          color: $white
        }

        &:active {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }

  .dropdown.active:hover,
  .dropdown.active {
    // box-shadow: 0 0 4px rgb(204, 204, 204);
    // background-color: #f8f8f8;
    border-radius: 5px 5px 0 0;


  }

  .list-block {
    ul {
      li {
        list-style: none;

        &.list-block-title a {
          color: $blue;
        }

        a {
          color: $black;
          @include anim('all');

          &:hover {
            color: $blue
          }
        }
      }
    }
  }

  .top-button {
    display: block;
    top: -40px;
    right: 10%;
    width: 80.68px;
    height: 80.68px;
    color: #fff;
    border-radius: 50%;
    background: #0373ea;
    font-size: 32px;
    line-height: 80px;
    opacity: 0.75;
    filter: drop-shadow(0px 3px 11px rgba(0, 0, 0, 0.16));
    @include anim('all');

    &:hover {
      opacity: 1;
    }

  }

  .bottom-menu {
    li {
      list-style: none;

      a {
        color: $black;
        @include anim('all');

        span {
          font-size: 22px;
        }

        &:hover {
          color: $blue
        }
      }
    }
  }

  .footer-line2 {
    .bottoms-logo {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      border-bottom: 4px solid $blue;
    }
  }

  .bottom-addtion-logo {
    bottom: 0;
    right: 0;
  }

  .social-mobile {
    display: none;
  }


}


.separation-section1 {

  .banner {
    background: url(../img/index-section-1.jpg) center 30% no-repeat;
     height: 100vh;
     background-size:cover;
  }

}

.separation-section2 {
  margin-top: 40px;
  .blue-box {
    background: #0373ea;
    border: 1px solid #e7e7ef;
    padding: 10%;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 32px;
  }

  .phone-block {
    font-family: 'Montserrat';
    font-size: 28px;
    background: #fff;
    border: 1px solid #E7E7EF;
    position: relative;
    top: -80px;

    .line {
      width: 60%;
      margin: 0 auto;
      border-bottom: 3px solid $blue;
      display: block;
    }
  }

  .form-input,
  .form-select {
    border: 4px solid $white;
    background: $blue;
    border-radius: 0;
    color: $white;
    font-size: 32px;
    padding: 25px 20px;
    position: relative;
    text-align: center;

  }

  .form-select {
    padding: 0 0 0 5px;
    //-webkit-appearance: none;
    //-webkit-border-radius: 0px;
    font-size: 32px;
    height: 58px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align-last: center;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .form-input-out {
    position: relative;

    &:after {
      text-align: center;
      position: absolute;
      right: 10px;
      top: 5px;
    }

    &.form-input-sqm:after {
      content: 'm\00B2';
    }

    &.form-input-arr:after {
      //content: '\e5c5';
      //font-family: 'icomoon';
    }

    &.form-input-eur:after {
      content: '\020AC';
    }
  }

  .butons-block {
    button {
      background-color: transparent;
      border: none;
      color: #fff;
    }

    &:disabled,
    &[disabled] {
      color: #ccc;

    }
  }
}

.purchase-section1 {
  h1 {
    font-family: 'Montserrat';
    letter-spacing: 0.02em;
    font-size: 42px;
  }

  .select-out {
    position: relative;
    display: inline-block;

    &:after {
      content: '\e5c5';
      font-family: 'icomoon';
      color: $blue;
      position: absolute;
      top: 2px;
      right: 0px;
    }

    .form-select {
      border: none;
      background: transparent;
      border-radius: 0;
      color: $blue;
      padding-right: 20px;


      //padding:unset;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;

    }

  }

  .see-all-link {
    color: #A5A5A6;
  }

  .size-obj {
    color: #A5A5A6;
    font-size: 28px;
    font-family: 'Montserrat';
    margin: 10px 0;
  }

  .link-obj {
    display: block;
    font-family: 'Montserrat';
    font-size: 21px;
    color: $black;
    letter-spacing: 0.03em;
    line-height: 28px;
  }

}

.object-section1 {
  .carousel-indicators li {
    background-color: $blue;
    box-shadow: 30px 13px 46px rgba(0, 0, 0, 0.16);
  }
}

.object-section2 {
  .main-text-block {
    background: #fff;
    border: 3px solid #e7e7ef;
    position: relative;

    .main-text {
      font-size: 17px;
      line-height: 53px;
      text-align: right;
      color: $black;
      padding-left: 350px;
    }

    .blue-box {
      background: $blue;
      box-shadow: 10px 13px 16px rgba(0, 0, 0, 0.16);
      padding: 2% 0;
    }

    .white-box {
      background: $white;
      box-shadow: 10px 13px 16px rgba(0, 0, 0, 0.16);

    }

    .addtion-info,
    .addtion-energ {
      position: absolute;
      left: -350px;
      top: 160px;

      .add-info-row {
        margin: 20px 0;

        .add-inf-l,
        .add-inf-r {
          width: 50%;
          display: inline-block;
          color: #fff;
          font-family: Montserrat;
          font-size: 26px;
          min-width: 290px;
        }

        .add-inf-r {
          padding-left: 60px;
        }
      }
    }

    .addtion-energ {
      top: 700px;
      width: 580px;
      padding: 40px 0;
      text-align: center;
    }
  }
}

.object-section3 {
  h2 {
    font-family: Montserrat;
    font-size: 42px;
    letter-spacing: 0.02em;
    line-height: 56px;
  }

  .blue-box {
    background: $blue;
    border: 1px solid #e7e7ef;
    padding: 10%;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 32px;

    .form-input,
    .form-select {
      border: 4px solid $white;
      background: $blue;
      border-radius: 0;
      color: $white;
      font-size: 32px;
      padding: 25px 20px;
      position: relative;
      text-align: center;

    }
  }
}


//MEDIA
@media screen and (max-width: 1200px) {
}

@media screen and(max-width: 1199px) {
}

@media screen and (max-width: 991px) {
  body {
    background: $white;
  }

  .text-center-mob {
    text-align: center !important;
  }

  #header {
    .header-menu {

      .mobile-menu-list,
      .mobile-menu,
      .mobile-logo {
        display: block
      }
    }

    .desktop-logo,
    .desktop-menu {
      display: none;
    }
  }

  .index-section1,
  .purchase-section1,
  .separation-section1,
  .object-section1{
    padding-top: 40px;
  }

  .index-section1 {
    .container-fluid {
      .text-block {
        font-size: 22px;
        line-height: 40px;
        padding: 5%;

        .btn {
          line-height: 38px;
          font-size: 16px;
        }
      }
    }
  }

  .index-section2 {
    margin: 40px;

    .text-block p {
      font-size: 22px;
      line-height: 42px;
      text-align: center
    }
  }

  .index-section4 {
    .header-block {
      font-size: 38px;
    }

    .card-block {
      padding: 5%;
      border: 1px solid #E7E7EF;
    }

    .sub-header-block {
      font-size: 22px;
      line-height: 40px;
    }

    .text-block {
      font-size: 20px;
      line-height: 36px;
      padding: 20px 0 !important;
      min-height: unset;
    }

    .button-block a {
      box-shadow: 0px 7px 20px rgba(3, 115, 234, 0.54);
    }
  }

  .index-section5 {
    .red-block {
      font-size: 22px;
      line-height: 40px;
    }

    .text-block p {
      font-size: 20px;
      line-height: 36px;
    }
  }

  footer {
    width: 100%;
    background: #fff;
    box-shadow: 10px -5px 16px rgba(0, 0, 0, 0.16);

    .footer-line1 {
      border: none;

      .top-button {
        left: calc(50% - 40px);
      }

      img {
        margin-top: 40px;
      }
    }

    .dropdown,
    .list-block,
    .footer-menu,
    .block-dropdown-menu,
    .bottom-addtion-logo {
      display: none
    }

    .social-mobile {
      display: block;

      .bottom-menu li a span {
        font-size: 26px
      }
    }

  }
  .fixed-footer{
    position: fixed;
    bottom: -1px;
    .top-button{
      display: none;
    }
  }

  .separation-section1 {
    .banner{
      height: 60vh;
    }
  }

  .separation-section2 {
    margin-top: -40px;
  }

  .purchase-section1 {
    h1 {
      font-size: 22px;
    }
    .container{
      padding-bottom: 300px;
    }
    .link-obj{
      text-align: left !important;
    }
  }


  .object-section2 {
    .main-text-block {
      background: #fff;
      border: none;
      position: relative;

      .main-text {
        padding-left: 0px;
        padding-right: 0 !important;
        margin-top: 40px;
        text-align: center;
      }

      .addtion-info,
      .addtion-energ {
        position: unset;
        top: 0px;
        box-shadow: 10px 13px 16px rgba(0, 0, 0, 0.1);

        .add-info-row {
          margin: 20px 0;

          .add-inf-l,
          .add-inf-r {
            width: 100%;
            display: inline-block;
            color: #fff;
            font-family: Montserrat;
            font-size: 26px;
            min-width: unset;
            text-align: center !important;
          }

          .add-inf-r {
            padding-left: 0;
          }

        }
      }

      .addtion-energ {
        display: none;
      }

      .main-map iframe {
        padding: 0 !important;
      }
    }
  }

  .object-section3 {

    .blue-box {

      box-shadow: 10px 13px 16px rgba(0, 0, 0, 0.1);


    }
  }


}

@media screen and (max-width: 767px) {
  .index-section1 {
    .container-fluid {
      .text-block {
        font-size: 22px;
        line-height: 32px;
        padding: 5%;

        .btn {
          line-height: 22px;
          font-size: 14px;
        }
      }
    }
  }

  .index-section2 {
    .text-block {
      font-size: 11px;
      line-height: 18px;
      text-align: center;
      opacity: 0.93;
    }
  }

  .index-section3 {
    .text-block-inner {
      font-size: 22px;
      line-height: 90px;
      border-bottom: 4px solid $blue;

    }
  }

  .registration-1{
    .bs-stepper-header{
      flex-wrap: wrap;
      .step{
        width: 100%;
        text-align: center;

      }
    }
    .bs-stepper .line{
      display: none;
    }
    .step-trigger{
      width: 100% !important;
    }
  }


  .separation-section2 {
    .blue-box {
      font-size: 20px;
    }

    .phone-block {
      font-size: 20px;
      top: -40px
    }


    .styled-checkbox {

      // Box.
      & + label:before {
        content: '';
        width: 20px;
        height: 20px;
        top: 4px;
        left: 0;
      }

      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: '';
        width: 20px;
        height: 20px;
        top: 4px;
        left: 0;
      }
    }

  }


}

@media screen and (max-width: 479px) {
  .btn {
    padding: 5px 15px;
  }

  .index-section1 {
    .container-fluid {
      .text-block {
        font-size: 14px;
        line-height: 14px;

        .btn {
          line-height: 16px;
          font-size: 12px;
        }
      }
    }
  }
  .index-section2 {
    margin: 20px;

    .text-block p {
      font-size: 18px;
      line-height: 22px;
    }
  }
  .index-section3 {
    .text-block-out > div {
      margin-bottom: 20px !important;
    }

    .text-block-inner {
      font-size: 18px;
      line-height: 32px;
    }
  }


}